// 全局重置样式
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', Arial, sans-serif;
    line-height: 1.5;
    color: var(--text-primary);
  }
  
  // 统一链接样式
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
  
    &:hover {
      color: var(--primary-color);
    }
  }
  
  // 辅助类
  .text-center {
    text-align: center;
  }
  
  .mt-20 {
    margin-top: 20px;
  }